.sidebar {
    width: 20%;
    min-width: 80px;
    max-width: 300px;
    height: 100%;
    background: linear-gradient(to bottom, #432a88, #5132aa);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ccc;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1;
    padding: 50px 0 0;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar ul li {
    padding: 15px 10px;
    text-align: center;
    /* transition: background 0.3s ease; */
}

.sidebar ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.sidebar ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.logo {
    text-align: center;
    padding: 20px 0;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.separador-1 {
    margin: 20px auto;
    width: 80%;
    height: 1px;
    background-color: white;
    opacity: 0.5;
}
/* 
@media screen and (max-width: 1300px) {
    #app {
        height: 120%;
    }

    .sidebar {
        width: 160px;
        margin-top: 100px;
        margin-bottom: 170px;
    }

    .footer4 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1200px) {
    #app {
        height: 120%;
    }

    .sidebar {
        width: 160px;
        margin-top: 100px;
        margin-bottom: 170px;
    }

    .footer4 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1110px) {
    #app {
        height: 120%;
    }

    .sidebar {
        width: 160px;
        margin-top: 100px;
        margin-bottom: 170px;
    }

    .footer4 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1040px) {
    #app {
        height: 120%;
    }

    .sidebar {
        width: 20%;
        height: 110vh;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .footer4 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .sidebar {
        width: 20%;
        padding: 20px 0;
    }

    .sidebar ul li {
        padding: 10px;
    }

    .logo img {
        max-width: 80px;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 20%;
    }

    .sidebar ul li {
        font-size: 14px;
    }

    .logo img {
        max-width: 60px;
    }
}

@media screen and (max-width: 550px) {
    #app {
        height: 120%;
    }

    .sidebar {
        width: 20%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .footer4 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 20%;
    }

    .sidebar ul li {
        font-size: 12px;
        padding: 8px;
    }

    .logo img {
        max-width: 50px;
    }
}

@media screen and (max-width: 320px) {
    .sidebar {
        display: none;
        width: 20%;


    }
} */


@media screen and (max-width: 1024px) {
    .sidebar {
        width: 25%;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 30%;
    }
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 100px;
        position: absolute; /* Opcional: Para superposición */
    }
}

@media screen and (max-width: 320px) {
    .sidebar {
        display: none; /* Opcional: Oculta en pantallas muy pequeñas */
    }
}